/* GENERAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* DEFAULT */
  color: rgba(0, 0, 0, 1); /* DEFAULT */
  margin: auto;
  background: white;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 30px;
}

li{
  list-style-type: none;
}


/* UTILITIES  */

.container {
  position: relative;
  width: 1075px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 15px 0;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.column2 {
  float: left;
  width: 50%;
}

.column2 * {
  display: inline-block;
}

.column3 {
  float: left;
  width: calc(100% / 3)
}

.column4 {
  float: left;
  width: calc(100% / 4);
  text-align: center;
}

.column67percent {
  float: left;
  width: calc(2* 100% / 3)
}

.right-align {
  text-align: right;
}

.btn-box {
  text-align: center;
}

.btn {
  background-color: darkorange;
  color: white;
  border-radius: 8px;
}

.btn-big {
  padding: 23px 32px;
  font-weight: bolder;
}
.btn-small {
  padding: 8px 8px;
  line-height: 80%;
  border-radius: 5px
}

.fas.fa-check-circle {
  margin-right: 10px;
  color: darkorange;
}

.small-text {
  display: block;
  font-size: 12px;
}


/* HEADER */
    /* header: TOP MENU */
#top-menu {
  position: fixed;
  width: 100%;
  top: 0;
  background: #f5f8fa;
  border-bottom: 1px solid black;
  z-index: 1;
}

    /* header: top menu: LEFT COLUMN */

#top-menu .column2.left {
  height: 30px;
  padding-top: 6px;
}

#first-block {
  padding-right: 30px;
  border-right: 1px solid black;
}

#second-block {
  padding-left: 30px;
}

    /* header: top menu: RIGHT COLUMN */
#top-menu .column2.right * {
  display: inline-block;
  margin-left: 20px;
}

#btn-login {
  border: 1px solid orange;
  color: orange;
}

#search-icon{
  color: #00C1C2;
}

    /* header: MAIN-NAV */
#main-nav {
  padding: 73px 0 12px 0;
}

#main-nav .column2.right {
  height: 34px;
  padding: 9px 0;
}

.main-nav-block {
  margin-left: 18px;
}

.main-nav-block * { /* A different font should be chosen enabling bolder */
  font-weight: 600;
}

.main-nav-block span {
  display: inline-block;
  margin-right: 10px;
}

    /* header: JUMBOTRON*/
.jumbotron {
  background-image: url(../img/jumbotron.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 75px;
  padding-bottom: 225px;
}


.jumbotron * {
  margin-bottom: 30px;
}


.jumbotron p {
  line-height: 200%;
}

/* MAIN */
main {
  background-color: #F0F8FF;
  padding-bottom: 30px;
}

  /* First Container */
#first-main {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 45px;
  width: 70%;
  text-align: center;
  line-height: 150%;
}

#first-main h2 {
  padding-bottom: 20px;
}

#first-main img {
  margin-top: 50px;
  height: 200px;
  width: 275px;
  margin-bottom: 15px;
}

  /* Hub-spot */
#hub-spot{
  background: white;
  padding: 25px 0;
  line-height: 150%;
  margin-bottom: 25px;
}

    /* Hub-spot: LELFT COLUMN (33%) */
#hub-spot .column3 {
  padding: 25px 0 25px 0;
  text-align: center;
}

#hub-spot img{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 130px;
  height: 100px;
  margin-bottom: 25px;
}

      /* Hub-spot: RIGHT COLUMN (67%) */
#hub-spot .column67percent {
  padding: 25px 0 25px 0;
}

#hub-spot h3 {
  font-size: 20px;
  padding: 0 0 25px 0;
}

#hub-spot p {
  width: 85%;
}

#lesser-title {
  padding: 15px 0;
}

#lesser-title::after {
  background-color: gray;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  margin-left: 50px;
  width: 63%;
}

#hub-spot li {
  display: inline-block;
  margin-right: 20px;
}

/* INFO LAST  */
#info-last {
  padding-bottom: 50px;
}

.column3.left {
  text-align: left;
}

.column3.centre {
  text-align: center;
}

.inside-container {
  display: inline-block;
  width: 90%;
  background-color: white;
  padding: 0 35px 35px 35px;
  line-height: 150%;
}

.head-column {
  text-align: center;
  border-bottom: 2px solid gray;
  height: 365px;;
}

.head-column img {
  display: inline-block;
  width: 140px;
  height: 160px;
  padding: 25px 0;
}

.head-column h3{
  padding-bottom: 25px;
}

.head-column p{
  text-align: left;
}

.bottom-column{
  text-align: left;
  padding: 25px 0 35px 0;
}

.bottom-column h4 {
  text-align: center;
  padding-bottom: 15px;
}

/* LEARN AND GROW */
#learn-grow {
  background: linear-gradient(45deg, #00a4bd, #00bda5);
  padding-bottom: 90px;
  color: white;
  text-align: center;
}

    /* Learn and grow: FIRST CONTAINER*/
#learn-grow .first h2 {
  padding: 0 5%;
  margin: 25px 0;
}

#learn-grow .first p {
  margin-bottom: 35px;
}


    /* Learn and grow: EARN GROW TABLE (two of them)*/
.learn-grow-table {
  position: relative;
  padding: 0;
}

.learn-grow-table.first {
  border-bottom: 1px solid white;
}

.learn-grow-table .column4:not(.last) {
  border-right: 1px solid white;
}

.learn-grow-table .column4 {
  height: 208px;
}

.upper-column4 {
  height: 40%;
  padding: 15% 0 0 0;
}

.icon {
  max-height: 70%;
  max-width: 70%;
  color: white;
}

.bottom-column4 {
  height: 60%;
  color: white;
}

.bottom-column4 * {
  padding: 5px 0 0 0;
}


/* LAST PART OF MAIN */
    /*Last part of Main: FIRST ROW (two colums) */
#last-main {
  margin-top: 40px;
}


#last-main h1 {
  margin-bottom: 20px;
}

#last-main .column3{
  padding-left: 55px;
}
.column67percent .logos-row {
  padding: 0 55px 25px 0;
}

.logos-row img {
  text-align: left;
  display: inline-block;
  width: 100px;
  height: 30px;
  margin-left: 45px;
}


    /*Last part of Main: SECOND ROW (two colums) */
#second-row-last-main .column2.left {
    margin-top: 25px;
}

#second-row-last-main .column2.left * {
  margin: 20px 0;
}
#img-woman {
  width: 348px;
  height: 390px;
}


/* FOOTER */
footer {
  background: #33475b;
  color: white;
  padding: 10px 0 10px 0;
}

    /* Footer: FIRT SECTION  */
footer .column4 {
  text-align: left;
  line-height: 250%;
}

footer .column4 h3 {
  padding-bottom: 10px;
}

#support-btn {
  margin: 10px 0;
  background: lightgrey;
  color: #33475b;
}

.social-media-row {
  padding: 5;
}

.social-media-row * {
  padding-right: 12px;
}


    /* Footer: LANGUAGES BAR  */
.lang-bar{
  text-align: center;
  border-bottom: 1px solid white;
  margin: 30px 0 10px 0;
}

.lang-bar a {
  display: inline-block;
  padding: 2px 10px;
  color: white;
}


    /* Footer: FINALE NOTES  */
.copyright * {
  display: block;
  padding-bottom: 5px;
}

.legal a {
  color: white;
  padding-left: 15px;
}
