/* GENERAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* DEFAULT */
  color: rgba(0, 0, 0, 1); /* DEFAULT */
  margin: auto;
  background: orange; /*testing*/
}

a {
  text-decoration: none;
}

h1 {
  font-size: 55px;
}
/* UTILITIES  */

.container {
  position: relative;
  width: 1075px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 15px 0;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.column2 {
  float: left;
  width: 50%;
}

.column2 * {
  display: inline-block;
}

.column3 {
  float: left;
  width: calc(100% / 3)
}


.right-align {
  text-align: right
}

.btn {
  background-color: darkorange;
  color: white;
  border-radius: 8px;
}

.btn-big {
  padding: 27px 37px;
  font-weight: bolder;
}
.btn-small {
  padding: 5px;
}


/* HEADER */
#top-menu {
  background: #f5f8fa;
}

#btn-login{
  border: 1px solid orange;
  color: orange;
  border-radius: 8px
}

#search-icon{
  color: #00C1C2;
}

.main-nav{
  background: white;
}


/* HEADER
/     Jumbotron*/
.jumbotron {
  background-image: url(../img/jumbotron.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 75px;
  padding-bottom: 225px;
}


.jumbotron * {
  margin-bottom: 30px;
}


.jumbotron p {
  line-height: 200%;
}
